---
name: Docker
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docker/*'

jobs:
  build:
    name: Build Dockerfile
    runs-on: ubuntu-latest
    outputs:
      dockerfile_changed: ${{ steps.filter.outputs.docker }}
    steps:
      - name: Checkout repo ⤵️
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # test that the Dockerfile builds at all
      # CircleCI handles pushes for now
      - name: Build Image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          file: docker/Dockerfile
          context: .
          push: false
          tags: falcosecurity/kernel-crawler:test
