---
name: Docker
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docker/*'

jobs:
  build:
    name: Build Dockerfile
    runs-on: ubuntu-latest
    outputs:
      dockerfile_changed: ${{ steps.filter.outputs.docker }}
    steps:
      - name: Checkout repo ⤵️
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # test that the Dockerfile builds at all
      # CircleCI handles pushes for now
      - name: Build Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: docker/Dockerfile
          context: .
          push: false
          tags: falcosecurity/kernel-crawler:test
