---
name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    outputs:
      crawler_changed: ${{ steps.filter.outputs.crawler }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            crawler:
              - 'kernel_crawler/**'

  test:
    name: test kernel-crawler
    runs-on: ubuntu-latest
    needs: paths-filter
    if: needs.paths-filter.outputs.crawler_changed == 'true'
    steps:
      - name: Checkout repo ⤵️
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run crawler
        id: crawler
        uses: ./

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: ${{ steps.crawler.outputs.json }}
